{% extends 'base.html' %}
{% block content %}
    {% set spisok = ['инженер-исследователь', "пилот", "строитель", "экзобиолог", "врач", "инженер по терраформированию", "климатолог", 
    "специалист по радиационной защите", "астрогеолог", "гляциолог", "инженер жизнеобеспечения", "метеоролог", "оператор марсохода", "киберинженер", "штурман", 
    "пилот дронов"] %}
    {% if list in ['ol', 'ul'] %}
        <h2>Список профессий</h2>
        {% if list == 'ol' %}
            <ol>
                {% for i in spisok %}
                    <li>{{ i }}</li> 
                {% endfor %}
            </ol>
        {% else %}
            <ul>
                {% for i in spisok %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h1 class="display-1">Нверный параметр Альоша!!!</h1>
    {% endif %}
    {{ img }}
{% endblock %}